.header {
  margin-top: 50px;
  min-width: 380px;
  .headerInfoWrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 94%;
    left: 3%;
    position: relative;
    :global .header-info {
      width: 40%;
      display: flex;
      padding: 2.5px 0;
      :global .icon {
        height: 20px;
      }
      :global .icon::before {
        position: relative;
        top: 2px;
      }
      :global .header-info-content {
        line-height: 20px;
        color: gray;
        font-size: 14px;
        margin-left: 10px;
        :visited {
          color: gray;
        }
      }
    }
  }
}

.name {
  margin: 5px 0;
  font-size: 32px;
}
