#root {
  margin-bottom: 100px;
}

code {
  font-family: 'Monaco', 'Courier New';
}

blockquote {
  padding: 0 1em;
  border-left: 0.25em solid #dfe2e5;
  p {
    color: #6a737d !important;
  }
}

section {
  li {
    margin-top: 5px;
  }

  li:last-child {
    margin-bottom: 5px;
  }

  p, li {
    color: #24292e;
    line-height: 24px;
  }

  a, a:link, a:visited {
    color: #0366d6;
  }

  a:focus, a:hover {
    color: #03a9f4;
  }
}

li ul {
  margin-left: 20px;
}
