.experience {
  margin-top: 20px;
  min-width: 380px;
  .title {
    display: flex;
    .titleContent {
      margin-left: 10px;
    }
  }
  .body {
    margin-top: 10px;
    .experience_wrap {
      padding: 5px 20px;
    }
  }

  .company-wrapper {
    padding: 5px 0;
    .company {
      font-size: 20px;
      font-weight: bold;
    }
  }
  .work-title {
    margin-left: 15px;
    font-size: 14px;
    font-style: italic;
  }

  .work-time {
    float: right;
    font-size: 14px;
    margin-right: 10px;
  }
}

:global {
  .experience-block {
    margin-top: 10px;

    p {
      display: flex;
      padding: 5px 0;
    }
  }

  .experience-sub-title {
    font-weight: 700;
  }

  .experience-sub-time {
    font-style: italic;
    font-size: 12px;
    margin-left: 20px;
  }
}
